.btn-container{
    display: flex;
    justify-content: end;
    gap: 50px;
    margin-top: 40px;
}

.btn{
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    background: linear-gradient(to right, #ae80da, #7c46e7);
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 15px 25px rgba(83, 83, 83, 0.35);
}
.btn:hover{
    background: #ae80da;
    box-shadow: none;
}