@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.outer-container{
  font-family: "Inter", sans-serif;
  height: 100vh;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.background{
  position: fixed; 
  width: 100%; 
  height: 100vh; 
  object-fit: cover; 
  z-index: -1;
}
.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

